*~
*.swp
temp

my_virtualenvs

android_dev
blog
git_clones
java_dev
web_dev

linux_dev/git_demo/first_repo
linux_dev/git_demo/second_repo
web_dev/flask_web_dev/proj
web_dev/flask_web_dev/practice/flask_learn/template_app
web_dev/flask_web_dev/practice/flask_learn
python_dev/venv
python_dev/workspace/python_class

python_dev/workspace/vcf_extract/contacts.vcf
python_dev/workspace/vcf_extract/no_photo.vcf
python_dev/workspace/vcf_extract/temp.csv

