*~
*.swp
git_clones
my_virtualenvs
java_dev
android_dev
eclipse
web_dev
linux_dev/git_demo/first_repo
linux_dev/git_demo/second_repo
web_dev/flask_web_dev/proj
web_dev/flask_web_dev/practice/flask_learn/template_app
web_dev/flask_web_dev/practice/flask_learn
python_dev/workspace/python_class
